:host {
  display: contents;
}

.modifier-conflict {
  border-color: #dc3545 !important;
}

.modifier-conflict label {
  border-color: #dc3545 !important;
  color: #dc3545 !important;
}

.modal-content-wrapper {
  height: 100%;
}

.modal-body {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
}
