.modal-content-wrapper {
  min-width: 300px;
  max-width: 500px;
}

.modal-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  &.variant-danger {
    background-color: #dc3545;
    color: white;
  }

  &.variant-warning {
    background-color: #ffc107;
    color: #000;
  }

  &.variant-success {
    background-color: #198754;
    color: white;
  }

  &.variant-primary {
    background-color: #0d6efd;
    color: white;
  }
}

.modal-body {
  p {
    margin: 0;
  }
}
