<div class="modal-content-wrapper tuning-editor-modal">
  <div class="modal-header">
    <h5 class="modal-title">Tuning, Capo & Tempo</h5>
    <button type="button" class="btn-close" (click)="cancel.emit()"></button>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label">Capodaster (Fret)</label>
        <input type="number" class="form-control" [ngModel]="capodaster()" (ngModelChange)="capodaster.set($event)" min="0" max="12" />
      </div>
      <div class="col-md-6">
        <label class="form-label">Tempo (BPM)</label>
        <app-bpm-selector [ngModel]="tempo()" (ngModelChange)="tempo.set($event)" />
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Guitar Tuning (Low to High)</label>
      <div class="row g-2">
        @for (tuningNote of tuning(); track i; let i = $index) {
        <div class="col-6 col-md-2">
          <label class="form-label small">String {{ 6 - i }}</label>
          <div class="input-group input-group-sm">
            <select class="form-select" [(ngModel)]="tuningNote.semitone">
              @for (semitone of semitones(); track semitone) {
              <option [value]="semitone">{{ semitone }}</option>
              }
            </select>
            <select class="form-select" [(ngModel)]="tuningNote.octave">
              @for (octave of octaves(); track octave) {
              <option [value]="octave">{{ octave }}</option>
              }
            </select>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-secondary" type="button" (click)="cancel.emit()">Cancel</button>
    <button class="btn btn-success" type="button" (click)="save.emit()">Save Settings</button>
  </div>
</div>
