/* Basic styling for strumming patterns library */
.card.border-primary {
  border-width: 2px;
}
.modal.show {
  display: block;
}

.measure-preview-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
