/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap' as *;
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Custom global styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: #f8f9fa;
}
