<div class="modal-content-wrapper">
  <div class="modal-header">
    <h5 class="modal-title">Select Patterns</h5>
    <button type="button" class="btn-close" (click)="onCancel()"></button>
  </div>
  <div class="modal-body">
    <app-patterns-library-selector (selectedPatternsChange)="onSelectionChange($event)">
    </app-patterns-library-selector>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" (click)="onCancel()">
      <i class="bi bi-x"></i> Cancel
    </button>
    <button class="btn btn-primary" type="button" (click)="onSave()" [disabled]="!canApply">
      <i class="bi bi-check"></i> Apply Patterns
    </button>
  </div>
</div>
