.app-content-container {
  margin-top: 16px;
  height: calc(100% - 110px - 16px - 1px);
  overflow-y: auto;
  padding: 0;
}

#mainNavbar {
  padding: 0 16px;
}

@media (max-width: 991.98px) {
  #mainNavbar {
    position: absolute;
    top: 56px; /* Adjusted for navbar height */
    left: 0;
    z-index: 1020; /* Above content, below modal */
    width: 100%;
    padding: 0 16px;
  }
}

.pinned-sheet-bar {
  width: 100vw;
  background: #e9ecef;
  color: #333;
  box-shadow: 0 2px 4px rgba(0,0,0,0.03);
  border-bottom: 1px solid #dee2e6;
}

