:host {
  display: block;
  height: 100%;
}

.modal-content-wrapper {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  max-height: 100% !important;
  overflow: hidden !important;
}

.modal-body {
  flex: 1 1 auto !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  min-height: 0 !important;
  padding: 1rem;
  position: relative;

  app-playing-pattern-editor {
    display: block;
    width: 100%;
  }
}
